* {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(1, 36, 186);
  --accent-color: rgb(9, 216, 98);
  --text-color: rgb(53, 53, 53);
  --border-radius: 8px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  /*height: 100vh;*/
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("/src/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*HEADER*/

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: none;
}

.nav_list {
  display: flex;
  padding: 40px;
}

.nav_element a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 600;
}

.nav_element:last-child a {
  padding-right: 0;
}

/*MAIN*/

.main {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
}

.main_info {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.info_small_text {
  font-weight: 700;
  color: var(--accent-color);
  font-size: 1.5rem;
}

.info_normal_text {
  font-weight: 700;
  font-size: 4rem;
  color: var(--main-color);
}
.form_input {
  font-size: 0.8rem;
  font-weight: 600;
}

.form_heading {
  font-size: 2rem;
  font-weight: 700;
}

.info_icons {
  margin-top: 60px;
  display: flex;
}

.info_icons .icons_item {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  width: 150px;
}

.info_icons .icons_item:first-child {
  margin-left: 0;
}

.info_icons .icons_item::before {
  color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.info_icons .icons_item:nth-child(1)::before {
  content: "\f0c2";
}

.info_icons .icons_item:nth-child(2)::before {
  content: "\f3d1";
}

.info_icons .icons_item:nth-child(3)::before {
  content: "\f2f2";
}

.info_icons .icons_item .item_text {
    font-weight: 600;
}

.intro_form {
  background-color: white;
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.13);
}

.form_button {
  background-color: var(--accent-color);
  padding: 20px;
  border-radius: var(--border-radius);
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
}

.form_input {
  border: none;
  border-bottom: 1px solid black;
}

.intro_form form {
  margin-top: 30px;
}

.intro_form .form_field {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.intro_form .form_field label {
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.intro_form .form_field .form_input {
  font-size: 1rem;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.intro_form .form_field .form_input::placeholder {
  opacity: 0.4;
}
